
.platesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
/* torna os elementos filhos flexíveis e responsivos */